<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
  </div>
  
  <p>Welcome to my webpage, a comprehensive user management system designed to simplify the way you manage user identities, access, and permissions. Our system is built to provide a secure, scalable, and flexible solution for organizations of all sizes.</p>